

<div class="container mt-4">
    {{ form_start(formplaylist) }}
    <div class="row mt-3">
        <div class="col-md-3">
            {{ form_row(formplaylist.name) }}
        </div>
        <div class="col-md-3">
            {{ form_row(formplaylist.description) }}
        </div>
    </div>
    {{ form_end(formplaylist) }}
</div>